#menu-wrap .mGnavi {display:none}
#menu-wrap .mDeco {display:none}

/* 메뉴 */
#menu-wrap {display:inline-block;position:relative;width:100%;background:transparent;z-index:100}
#menu-wrap:after {clear:both;display:block;content:""}
#menu-wrap .menu-cont {width:76%;padding-left:24%}
#mn-ctrs-btns {display:none}
#menu-wrap .menuReady {}

/* 주메뉴 */
@media all and (min-width:1000px) {
	#menu-wrap .mn-top,
	#menu-wrap .mem-btn,
	#menu-wrap .btn-close,
	#menu-wrap .tmn-box {display:none}
	#mainNavi-wrap {position:absolute;left:0;top:0;width:100%;height:100px;background:#fff;z-index:500;overflow:hidden;margin:0;text-align:center;box-sizing:border-box;transition:background .3s ease}
	#mainNavi-wrap.over {}
	#mainNavi-wrap.decoShow:after {height:108px;opacity:1}
	#mainNavi-wrap.decoHide:after {opacity:0}
	#menu-wrap {}
	#menu-wrap .allmn-btn {position:absolute;left:0;top:20px;width:49px;height:48px;border:1px solid #ccc;background:#fff;display:none}
	#menu-wrap .allmn-btn:before,
	#menu-wrap .allmn-btn:after,
	#menu-wrap .allmn-btn .txt:before {content:"";display:block;width:21px;height:2px;background:#5a5a5a;margin-left:14px;transition:all .3s ease}
	#menu-wrap .allmn-btn:before {margin-bottom:5px;margin-top:16px}
	#menu-wrap .allmn-btn:after {margin-top:5px}
	#menu-wrap .allmn-btn:hover:before,
	#menu-wrap .allmn-btn:hover:after {width:14px;background:#0d5db2}
	#menu-wrap .allmn-btn:hover .txt:before {width:18px;margin-left:20px;background:#0d5db2}
	#mainNavi {height:100px;box-sizing:border-box;padding:0}
	#mainNavi .depth1-wrap {display:block;width:auto;text-align:center;box-sizing:border-box;position:relative;max-width:1400px;margin:0 auto;padding:0 280px 0 0;font-size:0;line-height:1}
	#mainNavi .depth1-ul {display:inline-block;overflow:hidden}
	#mainNavi > ul > li:first-child {padding-left:8px}
	#mainNavi .mn_li1 {display:inline-block;text-align:center;margin:0 28px}
	#mainNavi .mn_a1 {position:relative;display:block;padding:40px 0 39px}
	#mainNavi .mn_a1 > span {display:inline-block;line-height:1;font-size:18px;font-weight:500;color:#333;letter-spacing:-.05em;transition:all .3s ease}
	#mainNavi .mn_a1:after {display:none}
	#mainNavi .mn_a1.over span,
	#mainNavi .mn_a1:hover span,
	#mainNavi .mn_a1:focus span,
	#mainNavi .mn_li1.over .mn_a1 span {color:#008284}
	#mainNavi .mn_li1 .mn_a1.over:after,
	#mainNavi .mn_a1:hover:after,
	#mainNavi .mn_a1:focus:after,
	#mainNavi .mn_li1.over .mn_a1:after {display:none}
	#mainNavi .depth2-wrap {display:none;position:absolute;top:100px;left:50%;z-index:1000;width:1400px;margin:0 0 0 -700px;padding:0 0 40px 448px;text-align:left;font-weight:normal;box-sizing:border-box;min-height:270px;background:#fff;box-shadow:0 10px 25px rgba(0, 0, 0, .05)}
	#mainNavi .depth2-wrap:after {}
	#mainNavi .depth2-wrap .depth2-tit {display:block;position:absolute;width:448px;height:270px;box-sizing:border-box;left:0;top:0;padding:40px 30px 35px;background:#057d84;border-radius:0 20px 20px 0}
	#mainNavi .depth2-wrap .depth2-tit span {display:block;line-height:1.3}
	#mainNavi .depth2-wrap .depth2-tit .tit {font-size:36px;color:#fff;font-weight:700;letter-spacing:-.05em}
	#mainNavi .depth2-wrap .depth2-tit .txt {font-size:0;color:transparent;line-height:0;margin:28px 0 0;overflow:hidden}
	#mainNavi .depth2-wrap .depth2-tit .txt::before {content:"";display:block;height:44px;margin:0 0 10px;border-radius:22px;background:#1a1a1a url(/resources/_Templet/Header/header_ipsi/Img/btn_kakao_consult.png) no-repeat 20px center;background-size:auto 20px}
	#mainNavi .depth2-wrap .depth2-tit .txt::after {content:"";display:block;height:44px;border-radius:22px;background:#1a1a1a url(/resources/_Templet/Header/header_ipsi/Img/btn_online_consult.png) no-repeat 20px center;background-size:auto 20px}
	#mainNavi .depth2-wrap .depth2-ul {display:block;width:100%;position:relative;font-size:0;overflow:hidden;box-sizing:border-box;padding:30px 0 0;min-height:200px}
	#mainNavi .depth2-wrap .mn_li2 {display:inline-block;width:19.2%;vertical-align:top;box-sizing:border-box;position:relative;padding:0;margin-right:1%}
	#mainNavi .depth2-wrap .mn_li2:nth-child(-n+5) {padding-top:0}
	#mainNavi .depth2-wrap .mn_li2:nth-child(5n) {margin-right:0}
	#mainNavi .depth2-wrap .mn_a2 {display:block;width:auto;height:auto;position:relative;box-sizing:border-box;padding:0 55px 0 20px;background:#fff;border:1px solid #e0e0e0;border-radius:8px;font-size:0;text-align:left;transition:all .3s ease}
	#mainNavi .depth2-wrap .mn_a2:before {content:"";display:inline-block;width:0;height:58px;vertical-align:middle}
	#mainNavi .depth2-wrap .mn_a2:after {content:"";display:block;position:absolute;width:18px;height:18px;border:0;border-radius:50%;background-color:#e0e0e0;background-image:url(/resources/_Templet/Header/header_ipsi/Img/icon_arrow_right_01.png);background-repeat:no-repeat;background-position:center;background-size:auto 5.13px;top:0;right:0;bottom:0;left:0;margin:auto 15px auto auto;transform:none;opacity:1;transition:all .3s ease}
	#mainNavi .depth2-wrap .mn_a2 span {display:inline-block;position:relative;vertical-align:middle;font-size:17px;color:#333;font-weight:500;letter-spacing:-.025em;line-height:1.2;transition:all .3s ease}
	#mainNavi .depth2-wrap .over .mn_a2 {background:#fff;border-color:#057d84}
	#mainNavi .depth2-wrap .mn_a2:focus span,
	#mainNavi .depth2-wrap .mn_a2:hover span {color:#057d84}
	#mainNavi .depth2-wrap .mn_a2:focus:after,
	#mainNavi .depth2-wrap .mn_a2:hover:after {background-color:#057d84;background-image:url(/resources/_Templet/Header/header_ipsi/Img/icon_arrow_right_01.png);background-size:auto 5.13px}
	#mainNavi .depth2-wrap .over .mn_a2:after {background-color:#057d84;background-image:url(/resources/_Templet/Header/header_ipsi/Img/icon_arrow_right_01.png);background-size:auto 5.13px}
	#mainNavi .depth2-wrap .over .mn_a2 span {color:#057d84}
	#mainNavi .depth3-wrap {display:none;padding:0;box-sizing:border-box}
	#mainNavi .depth3-wrap .depth3-ul {display:flex;flex-flow:row;flex-wrap:wrap;}
	#mainNavi .depth3-wrap .mn_li3 {width:50%;margin:0 0 4px;box-sizing:border-box}
	#mainNavi .depth3-wrap .mn_li3:last-child {margin:0}
	#mainNavi .depth3-wrap .mn_a3 {position:relative;display:block;padding:6px 0;box-sizing:border-box}
	#mainNavi .depth3-wrap .mn_a3 span {display:inline-block;position:relative;font-size:15px;color:#555;letter-spacing:-.05em;line-height:1.2;word-wrap:break-word;word-break:keep-all;white-space:normal;transition:all .3s ease}
	#mainNavi .depth3-wrap .mn_a3 span:before {content:"";display:block;position:absolute;width:0;height:0;border-radius:50%;background:#ff9900;top:1px;right:-9px;transition:all .3s ease}
	#mainNavi .depth3-wrap .over .mn_a3 span:before,
	#mainNavi .depth3-wrap .mn_a3:focus span:before,
	#mainNavi .depth3-wrap .mn_a3:hover span:before {width:6px;height:6px;top:-2px;right:-12px}
	#mainNavi .depth3-wrap .over.mn_a3 span {font-weight:700}
	#mainNavi .depth3-wrap .over.mn_a3 span,
	#mainNavi .depth3-wrap .mn_a3.over span,
	#mainNavi .depth3-wrap .mn_a3:hover span,
	#mainNavi .depth3-wrap .mn_a3:focus span {color:#000}
	#mainNavi .mn_a1[target=_blank] span:after {display:inline-block;content:"";width:14px;height:14px;vertical-align:middle;margin:-4px 0 0px 5px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat 0 0}
	#mainNavi .mn_a1[target=_blank]:focus span:after,
	#mainNavi .mn_a1[target=_blank]:hover span:after,
	#mainNavi .mn_a1[target=_blank].over span:after {background-position-x:-25px}
	#mainNavi .mn_a2[target=_blank] span:after {display:inline-block;content:"";width:14px;height:14px;vertical-align:middle;margin:0 0 3px 5px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat -75px -25px}
	#mainNavi .mn_a2[target=_blank]:focus span:after,
	#mainNavi .mn_a2[target=_blank]:hover span:after,
	#mainNavi .mn_a2[target=_blank].over span:after {background-position-x:-99px}
	#mainNavi .mn_a3[target=_blank] span:after {display:inline-block;content:"";width:14px;height:12px;vertical-align:middle;margin:0 0 4px 5px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat -75px 0}
	#mainNavi .mn_a3[target=_blank]:focus span:after,
	#mainNavi .mn_a3[target=_blank]:hover span:after,
	#mainNavi .mn_a3[target=_blank].over span:after {background-position:-99px 0}
	#mainNavi .tgl-btn {display:none}
	#mainNavi .amenu {display:block;position:absolute;width:90px;height:90px;right:0;top:0;background:#008284;transition:all .3s ease}
	#mainNavi .amenu:before,
	#mainNavi .amenu span,
	#mainNavi .amenu:after {content:"";display:block;position:absolute;height:3px;background:#fff;top:0;right:0;bottom:0;left:0;font-size:0;transition:all .3s ease}
	#mainNavi .amenu:before {width:27px;margin:35px auto auto 32px}
	#mainNavi .amenu span {width:19px;margin:auto auto auto 32px}
	#mainNavi .amenu:after {width:27px;margin:auto auto 34px 32px}
	#mainNavi .amenu:focus span,
	#mainNavi .amenu:hover span {width:27px}
	.pc-topMenu-open #mainNavi-wrap {background:#fff}
	.pc-topMenu-open #menu-wrap {box-shadow:0 10px 25px rgba(0, 0, 0, .05)}
	.pc-topMenu-open #menu-wrap:after {opacity:0}
	.pc-topMenu-open #mainNavi .mn_a1 > span {color:#333}
	.pc-topMenu-open #mainNavi .mn_a1.over > span {color:#008284}
	.pc-topMenu-open #mainNavi .mn_a1:after {display:none}
	.pc-topMenu-open #mainNavi .mn_a1[target=_blank] span:after {background-position-x:-25px}
	.pc-topMenu-open #mainNavi .mn_a1[target=_blank]:focus span:after,
	.pc-topMenu-open #mainNavi .mn_a1[target=_blank]:hover span:after {background-position-x:-25px}
	.body-slider-ovclick {display:none}
}
@media all and (min-width:1300px) and (max-width:1440px) {
	#mainNavi .depth2-wrap {left:0;width:100%;margin:0;padding:0 20px 40px 380px}
	#mainNavi .depth2-wrap .depth2-tit {width:380px;height:270px;padding:40px 25px 35px;border-radius:0 20px 20px 0}
}
@media all and (min-width:1200px) and (max-width:1299px) {
	#mainNavi-wrap.decoShow:after {opacity:.5;}
	#mainNavi .depth2-wrap {left:0;width:100%;margin:0;padding:0 20px 40px 320px}
	#mainNavi .depth2-wrap .depth2-tit {width:320px;height:270px;padding:35px 20px 30px;border-radius:0 20px 20px 0}
	#mainNavi .depth2-wrap .depth2-tit .tit {font-size:30px}
	#mainNavi .depth2-wrap .mn_a2 {padding:0 50px 0 15px;}
}
@media all and (min-width:1000px) and (max-width:1199px) {
	#mainNavi-wrap.decoShow:after {opacity:.5;}
	#mainNavi .depth2-wrap {left:0;width:100%;margin:0;padding:0 20px 40px 280px}
	#mainNavi .depth2-wrap .depth2-tit {width:280px;height:270px;padding:30px 20px 25px;border-radius:0 20px 20px 0}
	#mainNavi .depth2-wrap .depth2-tit .tit {font-size:28px}
	#mainNavi .depth2-wrap .mn_a2 {padding:0 50px 0 15px;}
	#mainNavi .depth2-wrap .mn_li2 {width:32%;margin-right:2%}
	#mainNavi .depth2-wrap .mn_li2:nth-child(3n) {margin-right:0}
	#mainNavi .depth2-wrap .mn_li2:nth-child(5n) {margin-right:2%}
}
@media all and (min-width:1100px) and (max-width:1299px) {
	#mainNavi .depth1-wrap {padding:0 260px 0 0}
	#mainNavi .mn_li1 {margin:0 15px}
}
@media all and (min-width:1000px) and (max-width:1099px) {
	#mainNavi .depth1-wrap {padding:0 240px 0 0}
	#mainNavi .mn_li1 {margin:0 10px}
	#mainNavi .mn_a1 > span {font-size:17px}
}
@media all and (max-width:999px) {
	body.mobile-sideMenu-open {position:fixed;width:100%;height:100%;overflow:hidden}
	/* 메뉴 */
	#mainNavi-wrap {overflow:inherit;position:absolute;top:0;right:0;width:100%;max-width:400px;height:0 !important}
	#mainNavi-wrap * {outline:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
	#menu-wrap {position:fixed;right:-100%;top:0px;left:auto;width:100%;max-width:400px;height:100%;z-index:8000;background:#fff;overflow-x:hidden;padding:0;box-sizing:border-box;margin:0;transition:right .5s ease, box-shadow .5s ease}
	#menu-wrap.mn-h-open {right:0;box-shadow:-10px 0 15px rgba(0, 0, 0, .15)}
	#menu-wrap:before {display:block;content:"";width:130px;height:100%;background:#004b4d;position:absolute;top:0;left:0;box-sizing:border-box}
	#menu-wrap .mDeco {display:block;position:absolute;width:100%;height:100%;box-sizing:border-box;padding:80px 0 0 130px;z-index:-1;transition:all .3s ease}
	#menu-wrap .mDeco:after {content:"";display:block;position:relative;width:100%;height:308px;background:url(/resources/_Templet/Header/header_ipsi/Img/header_mDeco.png) no-repeat right top}
	#menu-wrap.hide-mDeco .mDeco {opacity:0}
	#menu-wrap .is-open .depth2-wrap {display:block !important}
	.isMain #menu-wrap .mDeco {background:#edf4f6}
	.isMain #mainNavi .depth2-wrap .depth2-ul {}
	.isSub #menu-wrap .mDeco {background:#fff}
	#menu-wrap .mGnavi {display:block;position:absolute;box-sizing:border-box;width:100%;height:80px;background:#fff;border-bottom:1px solid #ececec;font-size:0;text-align:left;left:0;top:0;padding:0 60px 0 21px;z-index:1}
	#menu-wrap .mGnavi:before {content:"";display:inline-block;width:0;height:100%;vertical-align:middle;}
	#menu-wrap .mGnavi ul {display:inline-block;vertical-align:middle;font-size:0}
	#menu-wrap .mGnavi ul li {display:inline-block;vertical-align:middle;box-sizing:border-box;position:relative;padding:0 13px 0 0;margin:0 13px 0 0;}
	#menu-wrap .mGnavi ul li:after {content:"";display:block;position:absolute;width:2px;height:2px;right:0;top:50%;transform:translateY(-50%);background:#acacac}
	#menu-wrap .mGnavi ul li:last-child {padding:0;margin:0;}
	#menu-wrap .mGnavi ul li:last-child:after {display:none}
	#menu-wrap .mGnavi a {display:block;vertical-align:middle;box-sizing:border-box;position:relative;padding:0;line-height:1}
	#menu-wrap .mGnavi a span {display:block;font-size:15px;color:#666;box-sizing:border-box;position:relative;height:21px;line-height:21px;letter-spacing:0}
	#menu-wrap .mGnavi .home {width:23px}
	#menu-wrap .mGnavi .home:after {content:"";display:block;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:23px;height:21px;background:url(/resources/_Templet/Header/header_ipsi/Img/icon_home.png) no-repeat center;background-size:contain}
	#menu-wrap .btn-close {display:block;position:absolute;width:32px;height:32px;background:#008284;border:0;top:50%;transform:translateY(-50%);right:20px;border-radius:50%;}
	#menu-wrap .btn-close:before,
	#menu-wrap .btn-close:after {content:"";display:block;position:absolute;width:18px;height:2px;background:#fff;top:0;right:0;bottom:0;left:0;margin:auto}
	#menu-wrap .btn-close:before {transform:rotate(45deg)}
	#menu-wrap .btn-close:after {transform:rotate(135deg)}
	#menu-wrap .allmn-btn {display:none}
	#mainNavi {display:block;position:absolute;width:100%;height:100%;box-sizing:border-box;padding:80px 0 0;overflow-y:auto;z-index:0}
	#mainNavi .mn_li1.over:before {display:none}
	#mainNavi .depth1-wrap {position:relative;width:100%;height:100%;overflow-y:auto;overflow-x:hidden}
	#mainNavi .depth1-ul {position:relative;z-index:1}
	#mainNavi .mn_li1 {height:auto}
	#mainNavi .mn_li1 .tgl-btn {display:none}
	#mainNavi .mn_li1 .mn_a1 {display:block;position:relative;box-sizing:border-box;padding:0 10px;width:130px;height:auto;letter-spacing:-.05em;z-index:300;text-align:center;font-size:0;transition:all .3s ease}
	#mainNavi .mn_li1 .mn_a1:before {content:"";display:inline-block;width:0;height:80px;vertical-align:middle}
	#mainNavi .mn_li1 .mn_a1 span {display:inline-block;line-height:1.2;font-size:16px;color:#7aa8a9;vertical-align:middle;word-wrap:break-word;word-break:keep-all;white-space:normal;font-weight:400}
	#mainNavi .mn_li1 .mn_a1[target='_blank'] span:after {content:"";display:inline-block;width:12px;height:12px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat -22px -25px;margin:0 0 0 5px}
	#mainNavi .mn_li1.is-open {}
	#mainNavi .mn_li1 .mn_a1.over {background:#008284}
	#mainNavi .mn_li1 .mn_a1.over span {color:#fff}
	#mainNavi .mn_li1.has-sub .mn_a1 {}
	#mainNavi .mn_li1.has-sub.is-open .mn_a1 {background:#008284}
	#mainNavi .mn_li1.has-sub.is-open .mn_a1 span {color:#fff}
	#mainNavi .depth2-wrap {display:none;width:100%;height:auto;box-sizing:border-box;transition:display .3s ease;position:absolute;top:0;left:0;padding:0 0 0 130px;box-sizing:border-box}
	#mainNavi .depth2-wrap .depth2-tit {display:none}
	#mainNavi .depth2-wrap .mn_li2 {position:relative;padding:0}
	#mainNavi .depth2-wrap .mn_li2.has-sub .tgl-btn {display:block;position:absolute;width:30px;height:30px;right:12px;top:14px;z-index:1;border:0;background:transparent}
	#mainNavi .depth2-wrap .mn_li2.has-sub .tgl-btn:before,
	#mainNavi .depth2-wrap .mn_li2.has-sub .tgl-btn:after {content:"";display:block;position:absolute;width:14px;height:2px;top:0;right:0;bottom:0;left:0;margin:auto;background:#666;transition:all .3s ease}
	#mainNavi .depth2-wrap .mn_li2.has-sub .tgl-btn:before {}
	#mainNavi .depth2-wrap .mn_li2.has-sub .tgl-btn:after {transform:rotate(90deg)}
	#mainNavi .depth2-wrap .mn_li2.has-sub.is-open {border-bottom:0}
	#mainNavi .depth2-wrap .mn_li2.has-sub.is-open .tgl-btn:after {transform:rotate(180deg)}
	#mainNavi .depth2-wrap .mn_li2.has-sub.is-open .mn_a2 span {border-bottom:0}
	#mainNavi .is-open .depth2-wrap {display:block}
	#mainNavi .depth2-ul {position:relative;z-index:100;box-sizing:border-box;background:#fff}
	#mainNavi .depth2-wrap .mn_a2 {position:relative;display:block;padding:0 20px;font-size:0;background:#fff}
	#mainNavi .depth2-wrap .mn_a2 span {display:block;line-height:1;font-size:15px;color:#666;padding:21px 0 24px;word-wrap:break-word;word-break:keep-all;white-space:normal;border-bottom:1px solid #eee}
	#mainNavi .depth2-wrap .mn_a2[target='_blank'] span:after {content:"";display:inline-block;width:12px;height:12px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat 0 -25px;margin:0 0 0 5px}
	#mainNavi .depth2-wrap .mn_li2.is-open .mn_a2[target='_blank'] span:after {background-position:-22px -25px}
	#mainNavi .depth2-wrap .mn_li2 .tgl-btn {right:20px}
	#mainNavi .depth2-wrap .mn_li2.has-sub .mn_a2.over:after {display:none}
	#mainNavi .depth2-wrap .mn_a2.over,
	#mainNavi .depth2-wrap .is-open .mn_a2 {background:#fff}
	#mainNavi .depth2-wrap .mn_a2.over span,
	#mainNavi .depth2-wrap .is-open .mn_a2 span {color:#008284}
	#mainNavi .depth2-wrap .depth3-wrap {display:block;background:#fff;padding:15px 15px}
	#mainNavi .depth2-wrap .mn_li2.is-close .depth3-wrap {display:none}
	#mainNavi .depth2-wrap .depth3-wrap {background:#f5f5f5;box-sizing:border-box;padding:21px 20px 24px;}
	#mainNavi .depth2-wrap .depth3-wrap li {margin:0 0 5px;}
	#mainNavi .depth2-wrap .depth3-wrap li:last-child {margin:0;}
	#mainNavi .depth2-wrap .depth3-wrap li a {display:block;position:relative;display:block;padding:0;box-sizing:border-box;font-size:15px;color:#666}
	#mainNavi .depth2-wrap .depth3-wrap li a span {display:inline-block;position:relative;padding:4px 0;line-height:1.2}
	#mainNavi .depth2-wrap .depth3-wrap li a[target='_blank'] span:after {display:inline-block;content:"";width:12px;height:12px;vertical-align:middle;margin:-2px 0 0px 5px;background:url(/resources/_Img/Common/nwin_spr.png) no-repeat 0 -25px}
	#mainNavi .depth2-wrap .depth3-wrap li.over a {color:#000}
	#mainNavi .depth2-wrap .depth3-wrap li .mn_a3.over span:after {content:"";display:block;position:absolute;width:5px;height:5px;border-radius:50%;background:#ff9900;left:100%;top:2px;margin:0 0 0 4px;}
	#mn-ctrs-btns {display:block;position:absolute;right:20px;top:23px;z-index:0}
	#mn-ctrs-btns .mn-ctrs-btn {position:relative;display:block;width:50px;height:50px;box-sizing:border-box;border:0;background:#008284}
	#mn-ctrs-btns .mn-ctrs-btn:before,
	#mn-ctrs-btns .mn-ctrs-btn span,
	#mn-ctrs-btns .mn-ctrs-btn:after {content:"";display:block;position:absolute;width:22px;height:2px;background:#fff;top:0;right:0;bottom:0;left:0;font-size:0;transition:all .3s ease}
	#mn-ctrs-btns .mn-ctrs-btn:before {margin:16px auto auto auto}
	#mn-ctrs-btns .mn-ctrs-btn span {margin:auto}
	#mn-ctrs-btns .mn-ctrs-btn:after {margin:auto auto 16px auto}
	.body-slide-wr {position:relative;width:100%;height:100%;transition:margin 0.3s ease}
	.body-slider-ovclick {display:block;position:fixed;width:100%;height:0;left:0;top:0;background:rgba(0, 0, 0, .5);cursor:pointer;z-index:8;opacity:0;outline:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);transition:opacity .5s ease}
	.body-slider-ovclick.show {height:100%;opacity:1}
	.body-slider-ovclick.hide {opacity:0}
}
@media all and (max-width:699px) {
	#mn-ctrs-btns {top:16px}
}
@media all and (max-width:399px) {
	#mn-ctrs-btns {top:20px;}
	#mn-ctrs-btns .mn-ctrs-btn {width:40px;height:40px}
	#mn-ctrs-btns .mn-ctrs-btn:before,
	#mn-ctrs-btns .mn-ctrs-btn span,
	#mn-ctrs-btns .mn-ctrs-btn:after {width:20px}
	#mn-ctrs-btns .mn-ctrs-btn:before {margin:12px auto auto auto}
	#mn-ctrs-btns .mn-ctrs-btn span {margin:auto}
	#mn-ctrs-btns .mn-ctrs-btn:after {margin:auto auto 12px auto}
}