@charset "utf-8";

/* 샘플 화면 메뉴 스타일 */
#vcContainer.vChatGroup nav {flex-direction:column;width:220px;height:100%;border-right:1px solid rgba(104,144,129,0.2);color:#0b2239}
#vcContainer.vChatGroup nav p {font-size:18px;font-weight:700;margin:36px auto 160px;letter-spacing:-0.8px;text-align:center}
#vcContainer.vChatGroup ul.navi li a {display:block;font-size:18px;color:rgba(11,34,57,0.5);text-align:right;letter-spacing:-0.8px;margin:60px 20px 0;position:relative;float:right}
#vcContainer.vChatGroup ul.navi li a:hover,
#vcContainer.vChatGroup ul.navi li a.focus {color:rgba(11,34,57,1)}
#vcContainer.vChatGroup ul.navi li a.focus {color:rgba(11,34,57,1);font-weight:600}
#vcContainer.vChatGroup ul.navi li a.focus::after {width:9px;height:9px;border-radius:50%;background:#0b2239;position:absolute;top:6px;right:-25px;content:''}

/* 유튜브 스타일 */
#vcContainer.vChatGroup div.pc {width:100%;height:675px;background:#f7fafb;border:8px solid #fff;border-radius:15px;overflow:hidden}
#vcContainer.vChatGroup div.mobile {width:100%;height:675px;background:#f7fafb;border:8px solid #fff;border-radius:15px;box-shadow:10px 17px 41px 0 rgba(212,220,233,0.7);overflow:hidden;float:left}
#vcContainer.vChatGroup article.header {width:100%;background:#0b2239}
#vcContainer.vChatGroup article.header ul {margin-left:18px;padding:10px 0}
#vcContainer.vChatGroup article.header ul li {width:10px;height:10px;background:#fff;border-radius:50%;display:inline-block;margin-right:5px}
#vcContainer.vChatGroup article.header ul li:nth-child(2) {background:#2bc48a}
#vcContainer.vChatGroup .header span i {font-size:11px;color:#fff;padding:10px 15px}
#vcContainer.vChatGroup div.pc article.contents {margin:20px;display:flex}

/* 비디오 영역 스타일 */
#vcContainer.vChatGroup div.pc article.contents div.video {width:800px;height:450px;background:#999;margin-right:20px;margin-bottom:10px}
#vcContainer.vChatGroup div.pc article.contents ul.like {color:#555;vertical-align:middle;float:right;margin-top:10px}
#vcContainer.vChatGroup ul.like li {display:inline-block;vertical-align:middle;text-align:right;font-size:12px}
#vcContainer.vChatGroup ul.like li i {font-size:25px}
#vcContainer.vChatGroup ul.like li i:hover {color:#ff2d2d}
#vcContainer.vChatGroup div.mobile article.contents div.video {width:100%;height:210px;background:#999}

/* 채팅 영역 스타일 */
#vcContainer.vChatGroup div.pc .chat {width:340px;position:relative}
#vcContainer.vChatGroup div.moblie .chat {width:100%;height:435px}

/* 로그인 스타일 */
#vcContainer.vChatGroup .login {width:280px;background:#fff;box-shadow:3px 4px 8px 0 rgba(240,240,240,0.5);border:1px solid #eaeaea;box-sizing:border-box;display:none}
#vcContainer.vChatGroup .pc .login {margin:135px auto 0}
#vcContainer.vChatGroup .mobile .login {margin:45px auto 0}
#vcContainer.vChatGroup .login p.login-title {font-size:14px;letter-spacing:-0.64px;color:#fff;padding:17px 99px;background:#2bc48a}
#vcContainer.vChatGroup .login .profile {width:240px;margin:20px auto 0}
#vcContainer.vChatGroup .login .profile p,
#vcContainer.vChatGroup .login .room label {font-size:14px;color:#999;display:block}
#vcContainer.vChatGroup .login .profile p,
#vcContainer.vChatGroup .login .name label {font-size:14px;color:#999;display:block}
#vcContainer.vChatGroup .login .profile ul {display:flex;flex-direction:row;justify-content:space-between;margin-top:7px}
#vcContainer.vChatGroup .login .profile ul li a {width:40px;height:40px;border-radius:50%;background:#fff;border:1px solid #efefef;box-sizing:border-box;overflow:hidden;display:inherit;opacity:0.5}
#vcContainer.vChatGroup .login .profile ul li a:hover {border:3px solid #2bc48a;opacity:1}
#vcContainer.vChatGroup .login .profile ul li a.active {border:3px solid #2bc48a;opacity:1}
#vcContainer.vChatGroup .login .room {width:240px;	margin:20px auto 0}
#vcContainer.vChatGroup .login .room input[type="text"] {width:240px;height:24px;border:1px solid #ededed;border-radius:0;outline:0;margin:10px 0 15px}
#vcContainer.vChatGroup .login .name {width:240px;	margin:20px auto 0}
#vcContainer.vChatGroup .login .name input[type="text"] {width:240px;height:24px;border:1px solid #ededed;border-radius:0;outline:0;margin:10px 0 15px}
#vcContainer.vChatGroup .login .name input:focus {border:1px solid #2bc48a}
#vcContainer.vChatGroup .login button {appearance:none;font-size:12px;color:#6c7b85;background:#e3e9ed;padding:7px 13px;border:0;outline:0;margin:0 auto 20px;display:block}
#vcContainer.vChatGroup .login button:hover {cursor:pointer;background:#2bc48a;color:#fff}

/* 에러 팝업 210628 추가*/
#vcContainer.vChatGroup .errorpopup {line-height:1.5;font-size:14px;width:330px;position:absolute;top:calc(50% - 80px);left:0;right:0;margin:0 auto;text-align:center;padding:30px 20px;box-sizing:border-box;z-index:100;background:#fff;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);display:none}
#vcContainer.vChatGroup .errorpopup p i {color:#dd2c00;font-size:30px;margin-bottom:10px}
#vcContainer.vChatGroup .popupbtn {font-size:13px;display:inline-block;clear:both;padding:5px 15px;background:rgba(0, 0, 0, 0.3);color:#fff;margin:10px 10px 0}
#vcContainer.vChatGroup .popupbtn:hover {background:#2bc48a}
#vcContainer.vChatGroup .custompopup {line-height:1.5;font-size:14px;width:330px;position:absolute;top:calc(50% - 80px);left:0;right:0;margin:0 auto;text-align:center;padding:30px 20px;box-sizing:border-box;z-index:100;background:#fff;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);display:none}

/* 채팅 도움말 내용 */
#vcContainer.vChatGroup .use_help {display:none;position:absolute;top:41px;left:0;z-index:100}
#vcContainer.vChatGroup .help_contents {height:524px;background:#FFF;padding:15px 20px 15px 15px;box-sizing:border-box;overflow-y:auto}
#vcContainer.vChatGroup .use_help ul {padding-bottom:20px}
#vcContainer.vChatGroup .use_help li {font-size:12px;line-height:1.5;padding:0 0 5px 9px;color:#555}
#vcContainer.vChatGroup .use_help li.help_title {font-size:14px;color:#333;font-weight:bold}
#vcContainer.vChatGroup .use_help li span.btn_send {font-size:12px;padding:3px 5px;color:#fff;margin:0;display:inline-block}
#vcContainer.vChatGroup .use_help li img {width:100%}
#vcContainer.vChatGroup .btn_help_close {font-size:14px;color:#6c7b85;background:#e3e9ed;padding:12px 9px;text-align:center}

/* 채팅 내용 스타일 */
#vcContainer.vChatGroup .pc .chat_field {border:1px solid #eaeaea;height:565px}
#vcContainer.vChatGroup .mobile .chat_field {height:434px}
#vcContainer.vChatGroup .chat_field {width:100%;background:#fff;box-shadow:6px 11px 21px 0 rgba(212,220,233,0.2);overflow:hidden;position:relative;box-sizing:border-box;display:block}

/* 채팅방 이름 */
#vcContainer.vChatGroup .chat_name {font-size:15px;color:#fff;background:#2bc48a;padding:12px 15px}
#vcContainer.vChatGroup .chat_name ul li {display:inline-block;vertical-align:middle}
#vcContainer.vChatGroup .chat_name ul li:first-child {width:243px}
#vcContainer.vChatGroup .mobile .chat_name ul li:first-child {width:210px;text-align:left}
#vcContainer.vChatGroup .mobile .chat_name ul.like li:nth-child(2) {width:80px;text-align:right;font-size:12px;opacity:0.8}
#vcContainer.vChatGroup .mobile .chat_name ul.like li:last-child i:hover {color:#fff}
#vcContainer.vChatGroup .chat_name ul li a {font-size:12px;color:#fff;line-height:15px}
#vcContainer.vChatGroup .chat_name ul li a:hover {text-decoration:underline}
#vcContainer.vChatGroup .mobile .chat_name ul li:nth-child(3) a {font-size:15px;margin-right:5px}
#vcContainer.vChatGroup .pc .chat_name ul li:last-child a {font-size:15px;margin-left:10px}

/* 채팅 대화 내용 */
#vcContainer.vChatGroup .pc .chat_contents {width:100%;max-height:426px;overflow-x:hidden;overflow-y:auto;font-size:12px;color:#333;line-height:1.5}
#vcContainer.vChatGroup .mobile .chat_contents {width:100%;max-height:351px;overflow-x:hidden;overflow-y:auto;font-size:12px;color:#333;line-height:1.5}

/* 대화 내용 스타일 */
#vcContainer.vChatGroup .entery,
#vcContainer.vChatGroup .content,
#vcContainer.vChatGroup .notice,
#vcContainer.vChatGroup .whisper
#vcContainer.vChatGroup .chatout
#vcContainer.vChatGroup .warn {margin:15px}
#vcContainer.vChatGroup .notice,
#vcContainer.vChatGroup .whisper {background:#f4f4f4;padding:12px;display:flex}
#vcContainer.vChatGroup .entery {color:#2a9956;text-align:center}
#vcContainer.vChatGroup .content .name {color :#999;margin-right:5px}
#vcContainer.vChatGroup .content .comment {color:#333}
#vcContainer.vChatGroup .notice i {color:#fc3232;padding-right:12px}
#vcContainer.vChatGroup .notice span {color:#666}
#vcContainer.vChatGroup .whisper i {color:#1d75bd;padding-right:12px}
#vcContainer.vChatGroup .whisper .name {color:#1d75bd;font-weight:bold}
#vcContainer.vChatGroup .whisper .comment {color:#666}
#vcContainer.vChatGroup .chatout {color:#fc3232;text-align:center}

/* 대화명 클릭 시 노출 팝업 스타일 */
#vcContainer.vChatGroup .popupLayer {display:none;background:#fff;box-shadow:3px 6px 10px 0 rgba(177,184,188,0.5);font-size:14px}
#vcContainer.vChatGroup .popup_content li {margin:10px 15px}
#vcContainer.vChatGroup .popup_content li i {padding-right:6px}
#vcContainer.vChatGroup .popup_content li a {color:#666}
#vcContainer.vChatGroup .popup_content li a:hover {color:#333}
#vcContainer.vChatGroup #whisper {display:none}
#vcContainer.vChatGroup #whisper form {margin-bottom:10px}
#vcContainer.vChatGroup #whisper input {border:1px solid #eaeaea;font-size:12px;padding:7px 5px;outline:none;margin-right:5px}
#vcContainer.vChatGroup #whisper button {font-size:12px;color:#fff;background:#2bc48a;outline:none;padding:7px;border:none}

/* 메시지 작성 스타일 */
#vcContainer.vChatGroup .pc .chat_input {width:100%;position:absolute;bottom:40px;background:#fff;border-top:1px solid #f4f4f4;box-sizing:border-box}
#vcContainer.vChatGroup .mobile .chat_input {width:100%;position:absolute;bottom:0;background:#fff;border-top:1px solid #f4f4f4;box-sizing:border-box}
#vcContainer.vChatGroup .mobile .chat_input div {display:inline-block}
#vcContainer.vChatGroup .pc .chat_input .name {font-size:12px;color:#2a9956;padding:12px 12px 5px}
#vcContainer.vChatGroup .pc .chat_input .textbox {font-size:12px;color:#333}
#vcContainer.vChatGroup .mobile .chat_input .profile_img {width:24px;height:24px;border:1px solid #efefef;border-radius:50%;margin:7px 0 7px 9px;box-sizing:border-box;vertical-align:top}
#vcContainer.vChatGroup .pc .textbox[contenteditable=true] {color:#333;font-size:12px;padding:0 12px 12px;line-height:18px;box-sizing:border-box}
#vcContainer.vChatGroup .mobile .textbox[contenteditable=true] {width:279px;min-height:37px;color:#333;font-size:12px;line-height:1.5;box-sizing:border-box;vertical-align:middle;padding:10px;border-right:1px solid #efefef}
#vcContainer.vChatGroup [contenteditable=true]:empty:before {content:attr(placeholder);color:#999; display:block}
#vcContainer.vChatGroup .room::placeholder {color:#999;font-style:italic;font-size:0.7em}
#vcContainer.vChatGroup .name::placeholder {color:#999;font-style:italic;font-size:0.7em}

/* 6/30 수정된 내용(mobile 프로필 이미지 추가) */
#vcContainer.vChatGroup .mobile .profile_img {width:26px;height:26px;border:1px solid #efefef;border-radius:50%;box-sizing:border-box;vertical-align:top}
#vcContainer.vChatGroup .mobile .chat_input .profile_img {margin:8px 0 8px 10px}
#vcContainer.vChatGroup .mobile .content ul li {display:inline-block;vertical-align:top}
#vcContainer.vChatGroup .mobile .content ul .user_img {margin-right:5px}
#vcContainer.vChatGroup .mobile .content ul .user_img img {display:inline-block}
#vcContainer.vChatGroup .mobile .content ul .user_comment {width:calc( 100% - 35px );line-height:1.5;margin:4px 0}
#vcContainer.vChatGroup .mobile .content ul .user_comment .name {display:inline-block;margin-right:8px}

/* 이모지 및 전송 버튼 스타일 */
#vcContainer.vChatGroup .emoji_contents {padding:10px;display:none;flex-wrap:wrap;background:#fff}
#vcContainer.vChatGroup .emoji_contents a {display:inline-table;width:22px;height:22px;padding:3px}
#vcContainer.vChatGroup .emoji_contents a:hover {background:rgba(0, 0, 0, 0.1);overflow:hidden}
#vcContainer.vChatGroup .chat_input_btn {width:100%;height:40px;background:#fff;position:absolute;bottom:0}
#vcContainer.vChatGroup .emoji {float:left;position:relative}
#vcContainer.vChatGroup .emoji a:hover {color:#2bc48a}
#vcContainer.vChatGroup .send {float:right;font-size:14px;color:#999;display:flex;flex-direction:row}
#vcContainer.vChatGroup .ico_emoji,
#vcContainer.vChatGroup .ico_keyboard {font-size:20px;color:#999;position:absolute;top:10px;left:10px;display:none}
#vcContainer.vChatGroup .send li {vertical-align:middle}
#vcContainer.vChatGroup .btn_send {background:#2bc48a;padding:13px;margin-left:10px}
#vcContainer.vChatGroup .btn_send a {color:#fff;font-size:12px}
#vcContainer.vChatGroup .mobile .btn_send {float:right;padding:12px;line-height:14px;margin:0}

/* 채팅 숨기기 및 보이기 버튼 스타일 */
#vcContainer.vChatGroup .btn_hide,
#vcContainer.vChatGroup .btn_show {font-size:14px;color:#6c7b85;background:#e3e9ed;padding:12px 9px;text-align:center;display:none}

/* button 공통 사용 스타일 */
#vcContainer.vChatGroup .show {display:block}

/* 카카오톡 스타일 */
#vcContainer.vChatGroup div.kakao {width:375px;height:675px;background:#e8f0f3;border:8px solid #fff;border-radius:15px;box-shadow:10px 17px 41px 0 rgba(212,220,233,0.7);overflow:hidden;position:relative;float:left}
#vcContainer.vChatGroup .kakao .login {margin:178px auto 0}
#vcContainer.vChatGroup .talk_field {position:relative;height:644px}
#vcContainer.vChatGroup .opponent_profile {width:100%;background:#d5e3e8}
#vcContainer.vChatGroup .opponent_profile ul {padding:10px}
#vcContainer.vChatGroup .opponent_profile ul li {display:inline-block;font-size:16px;color:#333;vertical-align:middle}
#vcContainer.vChatGroup .kakao .profile_img {width:30px;height:30px;border-radius:50%;border:1px solid #efefef;background:#fff;box-sizing:border-box}
#vcContainer.vChatGroup .kakao .room_img {width:30px;height:30px}
#vcContainer.vChatGroup .talk_contents {height:524px;padding:15px;overflow-y:auto}
#vcContainer.vChatGroup .talk_contents .notice {font-size:12px;text-align:center;color:#666;background:none;display:block;padding:0;margin:0 auto 25px}
#vcContainer.vChatGroup .opponent {margin-bottom:25px;display:flex;justify-content:flex-start}
#vcContainer.vChatGroup .user {margin-bottom:25px;display:flex;justify-content:flex-end}
#vcContainer.vChatGroup .opponent div {display:inline-flex}
#vcContainer.vChatGroup .user div {display:inline-flex;flex-direction:row-reverse;justify-content:flex-end}
#vcContainer.vChatGroup .opponent_talk {margin-left:13px;position:relative}
#vcContainer.vChatGroup .user_talk {margin-right:13px;position:relative}
#vcContainer.vChatGroup .opponent_name,
#vcContainer.vChatGroup .user_name {width:100%;margin-bottom:6px;font-size:12px;color:#333}
#vcContainer.vChatGroup .user_name {text-align:right}
#vcContainer.vChatGroup .opponent_text_balloon {max-width:200px;padding:10px;background:#fff;font-size:12px;color:#333;border-radius:5px;line-height:1.5;word-break:break-all}
#vcContainer.vChatGroup .opponent_text_balloon::before {content:url("/resources/_Plugin/vChatCloud/group/img/opponent_text_balloon.svg");position:absolute;top:20px ;left:-10px}
#vcContainer.vChatGroup .user_text_balloon {max-width:200px;padding:10px;background:#a8e8d1;font-size:12px;color:#333;border-radius:5px;line-height:1.5;word-break:break-all}
#vcContainer.vChatGroup .user_text_balloon::after {content:url("/resources/_Plugin/vChatCloud/group/img/user_text_balloon.svg");position:absolute;top:20px ;right:-10px}
#vcContainer.vChatGroup .talk_input {width:100%;background:#fff;position:absolute;bottom:0}
#vcContainer.vChatGroup .talk_input .textbox {width:310px;float:left}
#vcContainer.vChatGroup .talk_input .textbox[contenteditable=true] {width:316px;min-height:40px;color:#333;font-size:12px;line-height:1.5;box-sizing:border-box;vertical-align:middle;padding:9px 10px;border-right:1px solid #efefef}
#vcContainer.vChatGroup .talk_input .btn_send {padding:12px;margin:0;float:right}

/* 라이브커머스 스타일 */
#vcContainer.vChatGroup div.livecommerce {width:375px;height:675px;border-radius:15px;box-shadow:10px 17px 41px 0 rgba(212,220,233,0.7);overflow:hidden;position:relative;border:8px solid #fff;float:left}
#vcContainer.vChatGroup .livecommerce .video {width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;background:url('https://img.youtube.com/vi/l82gMvnnUyA/0.jpg') no-repeat;background-size:cover}
#vcContainer.vChatGroup .dim {min-width:100%;min-height:100%;background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;z-index:99}
#vcContainer.vChatGroup .livecommerce .login {margin:247px 40px;box-shadow:3px 4px 8px 0 rgba(0,0,0,0.3);display:block;position:absolute;z-index:100}
#vcContainer.vChatGroup .livecommerce .title {width:100%;height:139px;position:absolute;top:0;left:0;background:url('/resources/_Plugin/vChatCloud/group/img/livecommerce_titleBG.png')}
#vcContainer.vChatGroup .livecommerce .title p {width:335px;font-size:14px;color:#fff;line-height:1.7;margin:20px auto;text-align:left}
#vcContainer.vChatGroup .livecommerce .title .close {text-align:right}
#vcContainer.vChatGroup .livecommerce .title span {font-size:11px;color:#fff;border-radius:3px;background:#ec2014;padding:2px 5px;margin-right:6px}
#vcContainer.vChatGroup .livecommerce .chat {position:absolute;bottom:0;width:100%;height:340px;background:url('/resources/_Plugin/vChatCloud/group/img/livecommerce_chatBG.png');margin-top:196px}
#vcContainer.vChatGroup .livecommerce .chat_contents {padding:0 15px;margin-top:80px;height:180px;overflow-y:auto;font-size:12px;color:#fff}
#vcContainer.vChatGroup .livecommerce .chat_contents::-webkit-scrollbar {width:3px}
#vcContainer.vChatGroup .livecommerce .chat_contents::-webkit-scrollbar-thumb {background:rgba(255,255,255,0)}
#vcContainer.vChatGroup .livecommerce .chat_contents::-webkit-scrollbar-track {background:rgba(0,0,0,0)}
#vcContainer.vChatGroup .livecommerce .chat_contents p {padding:5px 0;line-height:1.5}
#vcContainer.vChatGroup .livecommerce .marketer {text-align:center;color:#fff000}
#vcContainer.vChatGroup .livecommerce .name {color:#c3c3c3}
#vcContainer.vChatGroup .livecommerce span.name {color:#c3c3c3;margin-right:5px}
#vcContainer.vChatGroup .livecommerce .livenotice {text-align:center;color:#00ff7e}
#vcContainer.vChatGroup .livecommerce .chat_input {margin:20px 15px;border-radius:20px;border:1px solid #fff;box-sizing:border-box;position:absolute;bottom:0;display:inline-flex;background:rgba(0,0,0,0.5)}
#vcContainer.vChatGroup .livecommerce .chat_input .textbox {width:220px;color:#fff;font-size:12px;margin:0 15px;padding:10px 0;line-height:1.5}
#vcContainer.vChatGroup .livecommerce .chat_input .send {align-items:center}
#vcContainer.vChatGroup .livecommerce .chat_input .send a {font-size:12px;color:#fff;padding:10px;border-left:1px solid #b0b0b0}
#vcContainer.vChatGroup .livecommerce .like i {position:absolute;bottom:35px;right:21px;font-size:18px;color:#fff;transform:all;transition:0.2s }
#vcContainer.vChatGroup .livecommerce .like span {width:50px;position:absolute;bottom:20px;right:5px;font-size:8px;color:#fff;transform:all;transition:0.2s ;text-align:center}
#vcContainer.vChatGroup .livecommerce .like i:hover {position:absolute;bottom:33px;right:18px;font-size:24px;color:#ff2d2d}
#vcContainer.vChatGroup .download_pc {margin-left:810px}
#vcContainer.vChatGroup .download_mobile {margin-left:20px;float:left}
#vcContainer.vChatGroup .download_mobile .download_btn {display:block}
#vcContainer.vChatGroup .download_pc .download_btn {display:inline-block}
#vcContainer.vChatGroup .download_btn a {display:block;width:200px;padding:15px 0;text-align:center;background:#dae3e8;color:#6c7b85;border-radius:8px;margin-bottom:10px}
#vcContainer.vChatGroup .download_btn a:hover {background:#2bc48a;color:#fff}
#vcContainer.vChatGroup .chatintro h1 {text-align:center;font-size:25px;color:#0b2239;line-height:1.3;margin-bottom:50px;font-weight:normal}
#vcContainer.vChatGroup .chatintro div {margin:0 auto;padding-bottom:50px;display:flex;align-items:center}
#vcContainer.vChatGroup .chatintro div img {width:200px;float:left}
#vcContainer.vChatGroup .chatintro .intro {display:inline-block;color:#666;margin:0 0 0 20px}
#vcContainer.vChatGroup .chatintro .intro p.title {font-size:20px;font-weight:bold;color:#2bc48a;line-height:2}
#vcContainer.vChatGroup .chatintro .intro p.subtitle {font-size:14px;line-height:1.2}

/* 211020 추가CSS */
#vcContainer.vChatGroup .admin {color:#1342dc}
#vcContainer.vChatGroup .admin a.name {font-weight:bold;color:#1342dc}
#vcContainer.vChatGroup .admin_kakao_name {width:100%;margin-bottom:6px;font-size:12px;font-weight:bold;color:#1342dc}
#vcContainer.vChatGroup .admin_livecommerce {color:#68acff}
#vcContainer.vChatGroup .admin_livecommerce span.name {font-weight:bold;margin-right:5px;color:#68acff}
#vcContainer.vChatGroup .admin_livecommerce span.adm_whisper {margin-right:5px;color:#68acff}
#vcContainer.vChatGroup .admin_text_balloon {max-width:200px;padding:10px;background:#A3E4FB;font-size:12px;color:#333;border-radius:5px;line-height:1.5;word-break:break-all}
#vcContainer.vChatGroup .admin_text_balloon::before {content:url("/resources/_Plugin/vChatCloud/group/img/admin_text_balloon.svg");position:absolute;top:20px ;left:-10px}

/* 211112 추가CSS - webRTC 샘플화면 스타일 */
#vcContainer.vChatGroup div.webcam {width:800px;height:605px;margin-right:20px}
#vcContainer.vChatGroup div.webcam div.cam-area {width:800px;height:530px;overflow:overlay;position:relative}
#vcContainer.vChatGroup div.cam-area::-webkit-scrollbar {width:6px}
#vcContainer.vChatGroup div.cam-area::-webkit-scrollbar-thumb {background:hsla(0, 0%, 42%, 0.49);border-radius:3px}
#vcContainer.vChatGroup div.cam-area div.cam-wrap {width:800px;height:100%;position:absolute;top:0;left:0}
#vcContainer.vChatGroup div.cam-area div.camvideo-wrap {width:400px;height:225px;background:#292929;display:inline-block;float:left;border:0;position:relative}
#vcContainer.vChatGroup div.camvideo-wrap div.camvideo {width:100%;height:100%;position:absolute;top:0;left:0;z-index:1px}
#vcContainer.vChatGroup div.camvideo-wrap div.camvideo img.nocam {margin:62px auto;display:none}
#vcContainer.vChatGroup div.camvideo-wrap img.nomic {position:absolute;top:10px;right:10px;display:none}
#vcContainer.vChatGroup div.camvideo-wrap img.active {display:block !important}
#vcContainer.vChatGroup div.camvideo-wrap div.cam-name {width:400px;height:86px;position:absolute;bottom:0;left:0;background:url('/resources/_Plugin/vChatCloud/group/img/webRTC/dim.png') no-repeat;z-index:100}
#vcContainer.vChatGroup div.cam-name p {width:360px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:100;font-size:13px;color:#fff;margin:55px auto 15px;padding:2px 0}
#vcContainer.vChatGroup div.webcam div.cam-footer {width:100%;height:75px;background:#fff;border:1px solid #efefef;box-sizing:border-box}
#vcContainer.vChatGroup div.cam-footer p.roomtitle {width:250px;margin:30px 0 30px 20px;font-weight:300;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:16px;letter-spacing:-0.8px;color:#444;float:left}
#vcContainer.vChatGroup div.cam-footer ul.cam-btn {float:left;margin-left:25px;vertical-align:middle}
#vcContainer.vChatGroup ul.cam-btn li {display:inline-block;width:50px;height:50px;box-sizing:border-box;margin:13px 7px 12px;border-radius:25px; transform:all}
#vcContainer.vChatGroup ul.cam-btn li.btn_on {border:1px solid #dedede;transition:0.3s;background:#fff}
#vcContainer.vChatGroup ul.cam-btn li.btn_on:hover {background:#dedede;transition:0.5s;cursor:pointer}
#vcContainer.vChatGroup ul.cam-btn li.btn_off {border:1px solid #b63227;background:#ea4335;transition:0.3s}
#vcContainer.vChatGroup ul.cam-btn li.btn_off:hover {background:#b63227;transition:0.5s;cursor:pointer}
#vcContainer.vChatGroup ul.cam-btn li img {display:grid;width:fit-content;margin:0 auto;vertical-align:middle}
#vcContainer.vChatGroup .toast {width:250px;height:20px;height:auto;position:fixed;left:600px;margin-left:-125px;top:600px;z-index:9999;background-color:#383838;color:#F0F0F0;font-family:Calibri;font-size:15px;padding:10px;text-align:center;border-radius:20px;-webkit-box-shadow:0px 0px 24px -1px rgba(56, 56, 56, 1);-moz-box-shadow:0px 0px 24px -1px rgba(56, 56, 56, 1);box-shadow:0px 0px 24px -1px rgba(56, 56, 56, 1)}

/* 20211213 (RTC 버전_1번) width영역을 넘어서 한줄로 노출되는것 수정 */
#vcContainer.vChatGroup #content1 .content span.comment {word-break:break-all}